openapi: 3.2.0
info:
  title: Upwork REST Reports API
  description: The legacy Upwork REST API covering reports, financial data, organization management, and freelancer time entries. Authentication uses OAuth 2.0. Many resources have been migrated to the GraphQL API at api.upwork.com/graphql.
  version: '3.0'
  contact:
    name: Upwork Developer Support
    url: https://support.upwork.com/hc/en-us/sections/17976982721555-Upwork-API
  x-generated-from: documentation
servers:
- url: https://www.upwork.com/api
  description: Upwork REST API
security:
- oauth2AuthCode: []
tags:
- name: Reports
  description: Financial and engagement reports for teams and organizations.
paths:
  /v3/reports/companies/{company_id}/hours/hours_worked:
    get:
      operationId: getCompanyHoursWorked
      summary: Upwork Get Company Hours Worked Report
      description: Retrieve hours worked report for a company within a date range.
      tags:
      - Reports
      parameters:
      - name: company_id
        in: path
        required: true
        description: The company identifier
        schema:
          type: string
        example: company-abc123
      - name: tq
        in: query
        description: Table query for filtering (Upwork Query Language)
        schema:
          type: string
        example: SELECT worked_on, hours WHERE worked_on >= '2025-01-01'
      responses:
        '200':
          description: Hours worked report data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportResponse'
              examples:
                getCompanyHoursWorked200Example:
                  summary: Default getCompanyHoursWorked 200 response
                  x-microcks-default: true
                  value:
                    table:
                      cols:
                      - id: worked_on
                        label: Worked On
                        type: date
                      - id: hours
                        label: Hours
                        type: number
                      rows:
                      - c:
                        - v: '2025-01-15'
                        - v: 8.0
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIError'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ReportResponse:
      type: object
      description: A report response in Google Visualization data table format
      properties:
        table:
          type: object
          description: Data table containing report results
          properties:
            cols:
              type: array
              description: Column definitions
              items:
                type: object
                properties:
                  id:
                    type: string
                    example: worked_on
                  label:
                    type: string
                    example: Worked On
                  type:
                    type: string
                    example: date
            rows:
              type: array
              description: Data rows
              items:
                type: object
                properties:
                  c:
                    type: array
                    items:
                      type: object
                      properties:
                        v:
                          description: Cell value
    APIError:
      type: object
      description: API error response
      properties:
        error:
          type: string
          example: unauthorized
        message:
          type: string
          example: Authentication failed.
        code:
          type: integer
          example: 401
  securitySchemes:
    oauth2AuthCode:
      type: oauth2
      description: OAuth 2.0 authorization code flow
      flows:
        authorizationCode:
          authorizationUrl: https://www.upwork.com/ab/account-security/oauth2/authorize
          tokenUrl: https://www.upwork.com/api/v3/oauth2/token
          scopes:
            openid: Access to user identity
            reports:read: Read financial reports
            contracts:read: Read contract data
externalDocs:
  description: Upwork Developer Documentation
  url: https://developers.upwork.com/
